.background {
    height: 100%;
    background-image: url('/img/background.png');
  }

body {
    margin: 0;
    text-align: center;
  }


.space {
  padding-bottom: 10%;
}

.spaceAll {
  padding-bottom: 50%;
}